<html>
    <head>
        <title>Welcome Page</title>
        <style>
            body{
                background-color: black;
                color: blue;
                font-size: 30px;
            }
        </style>
    </head>
    <body>
        <center><h1>Welcome :-)</h1></center>
    </body>
    <div>
        <h1><strong><b><i>Wanna Check Graphs?</i></b></strong></h1>
         <br>
         <a href="{% url 'lineCharts' %}" target="_blank"> lineCharts</a>
         <br>
         <br>
         <a href="{% url 'multipleBoxPlot' %}" target="_blank"> multipleBoxPlot</a>
         <br>
         <br>
         <a href="{% url 'scatterPlotWithLineGraph' %}" target="_blank"> scatterPlotWithLineGraph</a>
         <br>
         <br>
         <a href="{% url 'multipleLineCharts' %}" target="_blank"> multipleLineCharts</a>
         <br>
         <br>
         <a href="{% url 'lineChartsWithDots' %}" target="_blank"> lineChartsWithDots</a>
         <br>
         <br>
         <a href="{% url 'barChartWithLines' %}" target="_blank"> barChartWithLines</a>
         <br>
         <br>
         <a href="{% url 'country2' %}" target="_blank"> country</a>
        
         
         <br>
         <br>
    </div>

</html>