{% if messages %}
    {% for message in messages %}
        <div>
            <strong>
                {{message|safe}}
            </strong>
        </div>
    {% endfor %}
{% else %}
<form method = "post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>
        upload a file
    </label>
    <input type = "file" name = "file">
    <button type = "submit">submit</button>
</form>
{% endif %}




<!--
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% autoescape off %}
    {{ plot_div }}
    {% endautoescape %}
    <from method = "POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type = "file" name = "file">
            <br>
        <input type = "submit">

    </from>
</body>
</html>

-->

